{% extends "proyectowebapp/base.html" %}

{% load static %}

{% block content %}

    {% for Curso in cursos %}
    <div class="container-fluid project py-5 my-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                <h4 class="text-primary">Nuestros Cursos</h4>
                <h1>Aprende con nuestro cursos mas recientes</h1>
            </div>
            <div class="row g-5">
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{{ MEDIA_URL }}{{ Curso.imagen.url }}" class="img-fluid w-100 rounded" alt="">
                            <div class="project-content">
                                <a href="" class="text-center">
                                    <h4 class="text-secondary">{{ Curso.titulo }} </h4>
                                    <p class="m-0 text-white">{{ Curso.contenido }}</p>
                                    <p class="m-0 text-white">Iniciar Sesion</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    {% endfor %}


    <section>
        <div style="width: 75%; margin: auto; text-align: center; color: black ;">

        categorias:

        {% for producto in productos %}

             {% for categoriaProd in producto.categoriasProd.all %}

                {{categoriaProd.nombre}}

            {% endfor %}                
        {% endfor %}

        </div>

    </section>

{% endblock %}