{% extends "proyectowebapp/base.html" %}

{% load static %}

{% block content %}
    <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
        <h4 class="text-primary">Cursos Disponibles</h4>
        <h1>Inscribete en los cursos que te sean de mayor interes</h1>
    </div>
<!--Widget del carrito-->
    <div style="float:right;">
        {% if request.user.is_authenticated %}
            {% include "carro/widget.html" %}
        {% else %}

        <div class="alert alert-danger text-center" style="background-color: cadetblue; color: black;">
            Necesita registrarse para asignarse un curso
        </div>
        
        {% endif %}
    </div>

    <div class="container-fluid project py-5 my-5">
        <div class="container py-5">
            <div class="row g-5">

    {% for producto in productos %}
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                 
                        <div class="project-img">

                            <img src="{{ MEDIA_URL }}{{ producto.imagen.url }}" class="img-fluid w-100 rounded" alt="">                                                        
                                <h4 class="text-secondary">{{ producto.nombre }} </h4>
                                <p style="color: black; font-size: 20px;">Q&nbsp;{{ producto.precio }}</p>
                                <p style="color: black; font-size: 18px;">{{ producto.contenido }}</p>


                               
                                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar Curso</a>                                                                                             
                        </div>
                   
                </div>
    {% endfor %} 
 
            </div>
        </div>
    </div>

    <section>
        <div style="width: 75%; margin: auto; text-align: center; color: black ;">

        categorias:

        {% for producto in productos %}

             {% for categoria in producto.categoriasProd.all %}

                {{categoria.nombre}}

            {% endfor %}                
        {% endfor %}

        </div>

    </section>


{% endblock %}